# Ignore all subfolders
*/

# Ignore all XML files
*.xml

# Ignore all CMD files
*.cmd
*.bat

# Ignore EXE
*.exe

# Do not ignore wifi_export.cmd
!wifi_export.cmd

# Do not ignore GitHub workflows
!.github/
!.github/workflows/main.yml
